body{
    margin: 0;
    padding:20px;
}
header{
    display:flex;
    justify-content:space-between;
}
.utc{
    display: flex;
    list-style-type: none;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}
li{
    font-size:20px;
    border-radius: 2px;
    transition: transform 0.5s,background-color 0.5s ;
}
li:hover{
    transform: scale(1.1);
    border-bottom: 1px solid black;
}
a{
    text-decoration: none;
}
.img22{
   position:relative;
   left: 25%;
    width: 50%;
    height: 75vh;
}
h1{
    color: rgb(16, 18, 16);
    font-size: 70px;
    font-weight: 900;
}
#span{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
#span2{
    font-size: x-large;
}
#btn1{
    height: 50px;
    width: 150px;
    background-color:rgb(78, 247, 247);
    color: black;
    border-radius:15px ;
}
#btn2{
    height: 40px;
    width: 150px;
    margin-top: 15px;
    border-radius: 15px;
    border: 0;
    background-color: rgb(62, 134, 229);
    color: rgb(12, 12, 12);
    font-weight: bold;
}
#btn2:hover{
    background-color: rgb(206, 28, 28);
    box-shadow: 0 0 10px 5px rgb(57, 56, 56);
    color:white;
    cursor: pointer;
}
#product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 100vh;
    margin-top: 10px;
}
.product-item{
    width: 40%;
    margin:25px ;
    border-radius: 15px;
    box-shadow: 0 0 12px rgb(231, 127, 127);
}
.img232{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.pstn{
    position:absolute;
    left:45%;
    top: 45%;
    padding:25px;
    font-size: larger;
    color: azure;
    border-radius: 100%;
    border: 3px dashed white;
    box-shadow: 0 0 15px rgb(228, 91, 91),0 0 20px rgb(163, 58, 58),0 0 25px rgb(125, 14, 14) ;
}
.pstn-1{
    position: absolute;
    left: 35%;
    top: 60%;
    color: white;
    font-size: 50px;
}
.grid-1{
    display:grid;
    grid-template-rows: 33vh 33vh 33vh;
    grid-template-columns: 50% 50%;
}
.item1{
    grid-row: 1/4;
}
.img-1{
    width: 100%;
    height: 100vh;
}
.item2{
    grid-row: 1/4;
    grid-column: 2/3;
}
#span7{
    color: rgb(105, 105, 190);
}
#textcontent{
    min-height: 25vh;
}
.fbtn{
    margin-top: 0.5em;
    width: 80%;
    border:2px solid black ;
    padding: 1em;
    font-size: 1em;
    border-radius: 10px 10px 0 0;
    background-color:white;
}
.fbtn:hover{
    margin-top: 0.5em;
    width: 80%;
    padding: 1em;
    font-size: 1em;
    border: 2px solid black;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid rgb(231, 85, 85);
}
button{
    height:45px ;
    width: 170px;
    background-color: rgb(0, 251, 255);
    border-radius: 15px;
    border: 3px coral;
    cursor: pointer;
}
button:hover{
    background-color: cornflowerblue;
    color: rgb(243, 239, 239);
}
@media ( min-width:480px){
    .grid-1{
        grid-template-rows: 40vh 40vh;
    }
    .img-3{
        grid-row: 1/2;
    }
    img{
        height: 100%;
    }
    footer{
        width: 60%;
    }


}

